@import 'variables.css';

.page-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.page-wrap.reveal {
    transform: translateY(-100vh);
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--section-bg);
    position: relative;
}

.start-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-subtitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.buttons-scroll-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn-download-cv,
.btn-contact {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-download-cv:hover,
.btn-contact:hover {
    transform: translateY(-3px);
}

.scroll-text {
    color: var(--text-color);
    font-size: 14px;
    opacity: 0;
}

.start h1,
.start-subtitle,
.buttons-scroll-container {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.start h1 {
    transition-delay: 0.5s;
}

.start-subtitle {
    transition-delay: 0.7s;
}

.buttons-scroll-container {
    transition-delay: 0.9s;
}

.start.animate h1,
.start.animate .start-subtitle,
.start.animate .buttons-scroll-container {
    opacity: 1;
    transform: translateY(0);
}

.start.animate .buttons-scroll-container {
    transform: translateX(-50%) translateY(0);
}

.start.animate .scroll-text {
    animation: scrollAnimation 3s infinite;
    animation-delay: 1.5s;
}

@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}