@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'hero.css';
@import 'sections.css';
@import 'skills.css';
@import 'experience.css';
@import 'education.css';
@import 'projects.css';
@import 'volunteering.css';
@import 'awards.css';
@import 'languages-interests.css';
@import 'footer.css';
@import 'responsive.css';

.page-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.page-wrap.reveal {
    transform: translateY(-100vh); 
}